<div class="dashboard-container">
    <!-- card -->
    <div class="dashboard-card">
        <app-card></app-card>
    </div>
    <!-- detail list -->
    <div class="dashboard-detail">
        <!-- table -->
        <div class="recentApp">
            <div class="cardHeader">
                <h2>Recent Application</h2>
                <button class="btn">View All</button>
            </div>
            <div class="table">
                <app-table [headers]="headers" [listData]="listData"></app-table>
            </div>
        </div>
        <!-- recentUsers -->
        <div class="recentUsers">
            <div class="cardHeader">
                <h2>Recent Users</h2>
            </div>
            <app-recent-users></app-recent-users>
        </div>
    </div>
</div>

