$light-base: #9e9bea;
$dark-base: #6C63FF;
$white: #fff;
$light-black: #333;
$gray: #444;
$silver:#f0f0f0;
$light-gray: #acacac;
$smooth: all 1.3s ease-in-out;
.dashboard {
    &-container {
        width: 100%;
        height: 100%;
    }
    &-card {
        width: 100%;
    }
    &-detail {
        position: relative;
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;
        .recentApp, .recentUsers {
            position: relative;
            display: grid;
            grid-template-rows: 0fr 1fr;
            min-height: 500px;
            background-color: $white;
            padding: 20px;
            box-shadow: 0 7px 25px rgba($color: #000000, $alpha: 0.08);
            border-radius: 20px;
        }
    }
}
@media (max-width: 768px) { 
    .dashboard {
        &-detail {
            grid-template-columns: repeat(1, 1fr);
            .recentApp {
                overflow-x: auto;
            }
        }
    }
}