<div class="sidebar-container">
    <ul>
        <li>
            <a routerLink="">
                <span class="icon"><i class="fa-solid fa-apple-whole"></i></span>
                <span class="title">Brand Name</span>
            </a>
        </li>
        <li>
            <a routerLink="/dashboard" routerLinkActive="active">
                <span class="icon"><i class="fas fa-house"></i></span>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/user" routerLinkActive="active">
                <span class="icon"><i class="fas fa-user"></i></span>
                <span class="title">User</span>
            </a>
            <!-- <ul class="sub-menu">
                <li>
                    <a routerLink="/user" routerLinkActive="active">
                        <span class="icon"><i class="fas fa-user"></i></span>
                        <span class="title">User level 1</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/user" routerLinkActive="active">
                        <span class="icon"><i class="fas fa-user"></i></span>
                        <span class="title">User level 1</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/user" routerLinkActive="active">
                        <span class="icon"><i class="fas fa-user"></i></span>
                        <span class="title">User level 1</span>
                    </a>
                </li>
            </ul> -->
        </li>
    </ul>
</div>
