<div class="recent-users">
    <table>
        <tr>
            <td>
                <div class="imgBx">
                    <img src="assets/img/user.png" alt="">
                </div>
            </td>
            <td>
                <h4>VŨ THỊ BÍCH
                    <br>
                    <span>HCM DSA</span>
                </h4></td>
        </tr>
        <tr>
            <td>
                <div class="imgBx">
                    <img src="assets/img/user.png" alt="">
                </div>
            </td>
            <td>
                <h4>VŨ THỊ BÍCH
                    <br>
                    <span>HCM DSA</span>
                </h4></td>
        </tr>
        <tr>
            <td>
                <div class="imgBx">
                    <img src="assets/img/user.png" alt="">
                </div>
            </td>
            <td>
                <h4>VŨ THỊ BÍCH
                    <br>
                    <span>HCM DSA</span>
                </h4></td>
        </tr>
        <tr>
            <td>
                <div class="imgBx">
                    <img src="assets/img/user.png" alt="">
                </div>
            </td>
            <td>
                <h4>VŨ THỊ BÍCH
                    <br>
                    <span>HCM DSA</span>
                </h4></td>
        </tr>
        <tr>
            <td>
                <div class="imgBx">
                    <img src="assets/img/user.png" alt="">
                </div>
            </td>
            <td>
                <h4>VŨ THỊ BÍCH
                    <br>
                    <span>HCM DSA</span>
                </h4></td>
        </tr>
        <tr>
            <td>
                <div class="imgBx">
                    <img src="assets/img/user.png" alt="">
                </div>
            </td>
            <td>
                <h4>VŨ THỊ BÍCH
                    <br>
                    <span>HCM DSA</span>
                </h4></td>
        </tr>
        <tr>
            <td>
                <div class="imgBx">
                    <img src="assets/img/user.png" alt="">
                </div>
            </td>
            <td>
                <h4>VŨ THỊ BÍCH
                    <br>
                    <span>HCM DSA</span>
                </h4></td>
        </tr>
    </table>
</div>

