$light-base: #9e9bea;
$dark-base: #6C63FF;
$white: #fff;
$black: #000000;
$light-black: #333;
$gray: #444;
$silver:#f0f0f0;
$light-gray: #acacac;
$smooth: all 1.3s ease-in-out;
.user {
    &-container {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 20px;
    }
    &-dialog {
        position: absolute;
        width: calc(100% - 20px - 20px);
        height: calc(100% - 20px - 20px);
        background-color: transparent;
    }
    &-main {
        position: absolute;
        width: calc(100% - 20px - 20px);
        height: calc(100% - 20px - 20px);
        background-color: $white;
        padding: 20px;
        box-shadow: 0 7px 25px rgba($color: $black, $alpha: 0.08);
        border-radius: 20px;
        overflow-x: auto;
    }
    &-list {
        margin-top: 20px;
    }
}