<div class="user-container">
    <div class="user-dialog">
        <app-dialog-user [show]="showDialog" (close)="onClose()"></app-dialog-user>
    </div>
    <div class="user-main">
        <div class="cardHeader">
            <h2>List Recent Users</h2>
            <button class="btn" (click)="addUsers()"><i class="fa-solid fa-plus"></i>Add user</button>
        </div>
        <div class="table">
            <app-table [headers]="headers" [listData]="listData"></app-table>
        </div>
    </div>
</div>

