<div class="cardbox">
    <div class="card">
        <div>
            <div class="numbers">10</div>
            <div class="cardName">New</div>
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-file"></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">20</div>
            <div class="cardName">Processing</div>
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-file"></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">15</div>
            <div class="cardName">Reversing</div>
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-file"></i>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">5</div>
            <div class="cardName">Cancel</div>
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-file"></i>
        </div>
    </div>
</div>
