<div *ngIf="show" class="dialog">
    <div class="dialog-container">
        <div class="top-container">
            <div class="icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="title">
                <span>Create User</span>
            </div>
            <div class="close" (click)="onClose()">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
        <div class="dialog-content">
        </div>
    </div>
</div>
