$light-base: #9e9bea;
$dark-base: #6C63FF;
$white: #fff;
$light-black: #333;
$gray: #444;
$silver: #f0f0f0;
$light-gray: #acacac;
$sttNew: #ffc296;
$sttProcessing: #bbe888;
$sttReversing: #f493b8;
$boxShadow: 0 5px 10px rgba($color: #000000, $alpha: 0.1);
$smooth: all .3s ease-in-out;

.table {
    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            display: table;
            width: 100%;
            table-layout: fixed;
            font-weight: 600;

            tr {
                th {
                    font-size: 14px;
                }
            }
        }

        tr {
            display: table;
            width: 100%;
            table-layout: fixed;
            color: $light-black;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

            &:last-child {
                border-bottom: none;
            }

            td {
                padding: 15px;
                text-align: center;
                font-size: 12px;
                word-break: break-all;
            }
        }

        tbody {
            display: block;
            width: 100%;
            max-height: calc(100vh - 355px);
            overflow: auto;
            margin-top: 15px;

            tr {
                &:hover {
                    background-color: $dark-base;
                    color: $white;
                }
            }

            .status {
                padding: 2px 4px;
                color: $white;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 500;

                &.sttProcessing {
                    background-color: $sttProcessing;
                }

                &.sttNew {
                    background-color: $sttNew;
                }

                &.sttReversing {
                    background-color: $sttReversing;
                }

                &.sttCancel {
                    background-color: $light-base;
                }
            }
        }
    }

    &-sort {
        padding: 0 5px;

        svg,
        i {
            color: $dark-base;
        }
    }

    &-search {
        position: relative;
        width: 80%;
        height: 35px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
        margin-top: 10px;

        .search-box {
            height: 100%;
            width: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                width: 85%;
                height: 100%;
                border: 0;
                padding-left: 10px;

                &:focus-visible {
                    outline: none;
                }
            }

            svg,
            i {
                color: $dark-base;
                padding: 5px;
                cursor: pointer;
            }
        }
    }

    .nodata {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $light-gray;
        margin: 20px;
    }

    &-pagination {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            position: relative;
            display: flex;
            // background-color: $white;
            padding: 10px;

            // border-radius: 50px;
            // box-shadow: $boxShadow;
            li {
                list-style: none;
                line-height: 25px;
                margin: 0 15px;
                background: white;
                border-radius: 50px;
                box-shadow: $boxShadow;
                cursor: pointer;

                &.pageNumber {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;

                    &:hover {
                        a {
                            background-color: $dark-base;
                            color: $white;
                        }
                    }
                }
                &.active {
                    a {
                        background-color: $dark-base;
                        color: $white;
                    }
                }

                &:first-child,
                &:last-child {
                    width: 70px;
                    height: 25px;
                    text-align: center;
                    border-radius: 25px;
                    transition: $smooth;
                    &.disabled {
                        background-color: $silver;
                        pointer-events: none !important;
                        a {
                            color: $light-base;
                        }
                        &:hover {
                            transform: none !important;
                            background-color: $silver !important;
                            a {
                                color: $light-base !important;
                            }
                        }
                    }
                    &:hover {
                        background-color: $dark-base;
                        a {
                            color: $white;
                        }
                    }
                }
                &:first-child {
                    &:hover {
                        transform: translateX(-5px);
                    }
                }
                &:last-child {
                    &:hover {
                        transform: translateX(5px);
                    }
                }

                a {
                    display: block;
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: 600;
                    color: $dark-base;
                    border-radius: 50%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .table {
        table {
            tbody {
                .status {
                    &.processing {
                        white-space: nowrap;
                    }
                }
            }
        }

        &-sort {
            display: none;
        }

        &-search {
            display: none;
        }

        &-pagination {
            display: none;
        }
    }

}