<div class="table">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Status</td>
                <td>F1 Status</td>
                <td>F1 Stage</td>
                <td>Branch</td>
                <td>App Count</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>VŨ THỊ BÍCH</td>
                <td><span class="status processing">Processing</span></td>
                <td>PRE_APPROVAL</td>
                <td>LOGIN_ACCEPTANCE</td>
                <td>HCM DSA</td>
                <td>9</td>
            </tr>
            <tr>
                <td>VŨ THỊ BÍCH</td>
                <td><span class="status new">New</span></td>
                <td>PRE_APPROVAL</td>
                <td>LOGIN_ACCEPTANCE</td>
                <td>HCM DSA</td>
                <td>9</td>
            </tr>
            <tr>
                <td>VŨ THỊ BÍCH</td>
                <td><span class="status processing">Processing</span></td>
                <td>PRE_APPROVAL</td>
                <td>LOGIN_ACCEPTANCE</td>
                <td>HCM DSA</td>
                <td>9</td>
            </tr>
            <tr>
                <td>VŨ THỊ BÍCH</td>
                <td><span class="status processing">Processing</span></td>
                <td>PRE_APPROVAL</td>
                <td>LOGIN_ACCEPTANCE</td>
                <td>HCM DSA</td>
                <td>9</td>
            </tr>
            <tr>
                <td>VŨ THỊ BÍCH</td>
                <td><span class="status reversing">Reversing</span></td>
                <td>PRE_APPROVAL</td>
                <td>LOGIN_ACCEPTANCE</td>
                <td>HCM DSA</td>
                <td>9</td>
            </tr>
            <tr>
                <td>VŨ THỊ BÍCH</td>
                <td><span class="status cancel">Cancel</span></td>
                <td>PRE_APPROVAL</td>
                <td>LOGIN_ACCEPTANCE</td>
                <td>HCM DSA</td>
                <td>9</td>
            </tr>
            <tr>
                <td>VŨ THỊ BÍCH</td>
                <td><span class="status processing">Processing</span></td>
                <td>PRE_APPROVAL</td>
                <td>LOGIN_ACCEPTANCE</td>
                <td>HCM DSA</td>
                <td>9</td>
            </tr>
            <tr>
                <td>VŨ THỊ BÍCH</td>
                <td><span class="status processing">Processing</span></td>
                <td>PRE_APPROVAL</td>
                <td>LOGIN_ACCEPTANCE</td>
                <td>HCM DSA</td>
                <td>9</td>
            </tr>
            <tr>
                <td>VŨ THỊ BÍCH</td>
                <td><span class="status cancel">Cancel</span></td>
                <td>PRE_APPROVAL</td>
                <td>LOGIN_ACCEPTANCE</td>
                <td>HCM DSA</td>
                <td>9</td>
            </tr>
        </tbody>
    </table>
</div>

