<div class="table">
    <table>
        <!-- headers -->
        <thead>
            <tr>
                <th *ngFor="let header of headers, index as index">{{header.title}}
                    <!-- sort -->
                    <span class="table-sort"><i class="fa-solid fa-sort"></i></span>
                    <!-- search -->
                    <div *ngIf="search" class="table-search">
                        <div class="search-box">
                            <input type="text" [(ngModel)]="searchInput[index].value" (ngModelChange)="onSearch($event, header.key)" >
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <!-- list -->
        <tbody>
            <tr *ngFor="let item of listShow">
                <td *ngFor="let header of headers">
                    <span *ngIf="header.type === 'text'">{{item[header.key]}}</span>
                    <span *ngIf="header.type === 'status'" class="status stt{{item[header.key]}}">{{item[header.key]}}</span>
                    <!-- <span *ngIf="header.type === 'highlight'" class="status" [style.background-color]="generateRandomColor()">{{item[header.key]}}</span> -->
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="listShow.length === 0" class="nodata">
        <span>No data available</span>
    </div>
    <!-- pagination -->
    <div class="table-pagination">
        <ul>
            <li [ngClass]="currentPage === 1 ? 'disabled' : ''" (click)="onPagination(currentPage - 1)"><a>< PREV</a></li>
            <li *ngFor="let in of counter(pagesNumber), index as index" 
                [ngClass]="index + 1 === currentPage ? 'pageNumber active' : 'pageNumber'"
                (click)="onPagination(index + 1)">
                <a>{{index + 1}}</a></li>
            <li [ngClass]="currentPage ===  pagesNumber ? 'disabled' : ''" (click)="onPagination(currentPage + 1)"><a>NEXT ></a></li>
        </ul>
    </div>
</div>