<div class="navbar-container">
    <div class="toggle" (click)="onToggle($event)">
        <i class="fas fa-bars"></i>
    </div>
    <!-- Search -->
    <div class="search">
        <label>
            <input type="text" placeholder="Search here">
            <i class="fas fa-magnifying-glass"></i>
        </label>
    </div>
    <!-- Image User -->
    <div class="user">
        <img src="assets/img/user.png" alt="illustration of user">
    </div>
    <!-- <div class="logout">
       <a href="#"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div> -->
</div>
