/* You can add global styles to this file, and also import other style files */
$light-base: #aca9ff8a;
$dark-base: #6C63FF;
$white: #fff;
$light-black: #333;
$gray: #444;
$silver:#f0f0f0;
$light-gray: #acacac;
$smooth: all 1.3s ease-in-out;
body, input {
    margin: 0;
    padding: 0;
    font-family: 'Poppiins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn {
    position: relative;
    padding: 10px 15px;
    background-color: $dark-base;
    border: none;
    color: $white;
    border-radius: 6px;
    cursor: pointer;
    transition: $smooth;
    &:hover, &:disabled {
        background-color: $light-base;
    }
}
.valid {
    background-color: $white !important;
    border: 2px solid $dark-base;
}
.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: $silver;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
    &:focus-within {
        background-color: $white;
        border: 2px solid $dark-base;
    }
    i {
        text-align: center;
        line-height: 55px;
        color: $light-gray;
        font-size: 1.1rem;
    }
    svg {
        text-align: center;
        line-height: 55px;
        color: $light-gray;
        font-size: 1.1rem;
        margin: 18px;
    }
    input {
        background: none;
        outline: none;
        border: none;
        height: 45px;
        line-height: 55px;
        font-weight: 400;
        font-size: 1.1rem;
        margin: 3px;
        color: $light-black;
        &:-webkit-autofill {
            box-shadow: 0 0 0 30px white inset !important;
            &:hover, &:focus, &:active {
                box-shadow: 0 0 0 30px white inset !important;
            }
        }
        &::placeholder {
            color: #aaa;
            font-weight: 500;
        }
        &:valid ~ label, &:focus ~ label {
            color: $dark-base;
            transform: translateX(2px) translateY(-7px);
            font-size: 0.8em;
            font-weight: 600;
            padding: 0 10px;
            background-color: $white;
            border-left: 2px solid $dark-base;
            border-right: 2px solid $dark-base;
            letter-spacing: 0.2em;
            line-height: 15px;
        }
    }
    label {
        position: absolute;
        pointer-events: none;
        left: 12%;
        font-size: 17px;
        text-align: center;
        line-height: 55px;
        color: $light-gray;
        text-transform: uppercase;
        transition: 0.5s;
    }
}

@media (max-width: 991px) {
    .input-field {
        label {
            left: 22%;
        }
    }
}

@media (max-width: 480px) {
    .input-field {
        label {
            left: 28%;
        }
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
