<div class="wrapper">
    <h1>Most popular technologies</h1>
    <div class="pie-charts">
        <div class="pieID--micro-skills pie-chart-wrapper">
            <h1>Recent Application</h1>
            <div class="pie-chart"></div>
            <div class="pie-chart__pie">
                <div class="slice">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="pie-chart__legend">
                <li>
                    <em>New</em>
                    <span>10</span>
                </li>
                <li>
                    <em>Processing</em>
                    <span>20</span>
                </li>
            </ul>
        </div>
    </div>
</div>
