$light-base: #9e9bea;
$dark-base: #6C63FF;
$white: #fff;
$light-black: #333;
$gray: #444;
$silver:#f0f0f0;
$light-gray: #acacac;
$smooth: all 1.3s ease-in-out;
.login-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: $white;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        border-radius: 50%;
        background: linear-gradient(-45deg, $dark-base, $light-base);
        top: -10%;
        right: 48%;
        transform: translateY(-50%);
        z-index: 6;
        transition: $smooth;
    }
    .forms-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .signin-signup {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        width: 50%;
        display: grid;
        grid-template-columns: 1fr;
        z-index: 5;
        transition: 1s 0.7s ease-in-out;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 5rem;
        overflow: hidden;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        transition: 0.2s 0.7s ease-in-out;
        &.sign-in-form {
            z-index: 2;
        }
        &.sign-up-form {
            z-index: 1;
            opacity: 0;
        }
    }
    .title {
        font-size: 2.2rem;
        color: $gray;
        margin-bottom: 10px;
    }
    .btn {
        width: 150px;
        height: 49px;
        border: none;
        outline: none;
        border-radius: 49px;
        cursor: pointer;
        background-color: $dark-base;
        color: $white;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0;
        transition: $smooth;
        &:hover {
            background-color: $light-base;
        }
    }
    .transparent {
        margin: 0;
        background: none;
        border: 2px solid $white;
        width: 130px;
        height: 41px;
        font-weight: 600;
        font-size: 0.8rem;
    }
    .panels-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .panel {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;
            text-align: center;
            z-index: 7;
        }
        .left-panel {
            pointer-events: all;
            padding: 3rem 17% 2rem 12%;
        }
        .right-panel {
            pointer-events: none;
            padding: 3rem 12% 2rem 17%;
            .content, .image {
                transform: translateX(800px);
            }
        }
        .content {
            color: $white;
            transition: $smooth;
            h3 {
                font-weight: 600;
                line-height: 1;
                font-size: 1.5rem;
            }
            p {
                font-size: 0.95rem;
                padding: 0.7rem 0;
            }
        }
        .image {
            width: 100%;
            transition: $smooth;
        }
    }
}
/* === Animation === */
.sign-up-mode {
    &::before {
        transform: translate(100%, -50%);
        right: 52%;
    }
    .left-panel {
        pointer-events: none;
        .content, .image {
            transform: translateX(-800px);
        }
    }
    .right-panel {
        pointer-events: all !important;
        .content, .image {
            transform: translateX(0px) !important;
        }
    }
    .signin-signup {
        left: 25%;
    }
    form {
        &.sign-in-form {
            z-index: 1;
            opacity: 0;
        }
        &.sign-up-form {
            z-index: 2;
            opacity: 1;
        }
    }
}

@media (max-width: 870px) {
    .login-container {
        min-height: 800px;
        height: 100vh;
        &::before {
            width: 1500px;
            height: 1500px;
            left: 30%;
            bottom: 68%;
            transform: translateX(-50%);
            right: initial;
            top: initial;
            transition: $smooth;
        }
        .signin-signup {
            width: 100%;
            left: 50%;
            top: 85%;
            transform: translate(-50%, -100%);
            transition: 1s 0.7s ease-in-out;
        }
        .transparent {
            width: 110px;
            height: 35px;
            font-size: 0.7rem;
        }
        .panels-container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr 1fr;
            .panel {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 2.5rem 8%;
            }
            .left-panel {
                grid-row: 1 / 2;
            }
            .right-panel {
                grid-row: 3 / 4;
                .content, .image {
                    transform: translateY(300px);
                }
            }
            .content {
                padding-right: 15%;
                transition: $smooth;
                h3 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 0.7rem;
                    padding: 0.5rem 0;
                }
            }
            .image {
                width: 300px;
                transition: $smooth;
            }
        }
    }

    /* === Animation === */
    .sign-up-mode {
        &::before {
            transform: translate(-50%, 100%);
            bottom: 32%;
            right: initial;
        }
        .left-panel {
            .content, image {
                transform: translateY(-300px);
            }
        }
        .signin-signup {
            top: 15%;
            transform: translate(-50%, 0);
            left: 50%;
        }
    }
}

@media (max-width: 570px) {
    .login-container {
        &::before {
            bottom: 72%;
            left: 50%;
        }
        form {
            padding: 0 1.5rem;
        }
        .image {
            display: none;
        }
        .content {
            padding: 0.5rem 1rem;
        }
    }
    /* === Animation === */
    .sign-up-mode {
        &::before {
            bottom: 28%;
            left: 50%;
        }
    }
}